<%= render 'layouts/header' %>
<%= render 'layouts/navbar' %>

<% if( !current_user.nil? && current_user.canEdit?(@article))%>

  <div class="jumbotron text-center">
    <h2>Edit article</h2>
  </div>

  <%= render 'form' %>

  <%= render 'layouts/footer' %>

<% else %>
  <%= render 'layouts/access_denied' %>
<% end %>

<style>
.centered{
    text-align:center;
}
.jumbotron{
    background-color: #6495ed;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Montserrat;
}
</style>
