<%= render 'layouts/header' %>
<%= render 'layouts/navbar' %>


<div class="jumbotron text-center ">
  <h2>Archive</h2>
</div>

  <div class="container-fluid bg-grey">
    <div class="row">
      <div class = "col-sm-3 articles centered">
        <% if !current_user.nil? %>
        <p>  <%= link_to raw("<span class = \"glyphicon glyphicon-edit\"></span> Write new article "),
              new_article_path,
              class: "btn btn-lg btn-info btn-default" %> </br>
        <% end %> </p>
        <%= render 'layouts/publicidad_izquierda' %>
      </div>

<%  # No se me ocurre ninguna manera de evitar comprobar el login de un usuario
    # del lado del servidor y servir las opciones de borrar y de edición más qué:
    # usar un método en la api de comprobación de session y renderizar una cosa u otra
    # en el componente react.
%>

<%  # TODO:
    # => El índice de los articulos se presenta en orden inverso a la fecha de creacion ( no existe el campo aun )
    # => La API de gestion de permisos tiene que comprobar en el lado del servidor si se puede o no editar o eliminar un articulo/comentario
    # => ¿ Cambiar de paradigma ? Servidor le envia info al cliente sobre el usuario, cambia la vista en función de los permisos,
    # => al editar/borrar se comprueba en el servidor de nuevo si los permisos son correctos.
%>

      <div class = "col-sm-6 articles">
        <h4><small>RECENT POSTS</small></h4>
        <hr>
        <% @articles.sort_by(&:created_at).reverse.each do |article| %>
        <h2> <strong> <%= article.title %> </strong> </h2>
          <h4> <%= article.text %> </h4>
          <h6> <span class="glyphicon glyphicon-user"> </span>
                Written by <%= article.author %> </h6>
          <p>
            <%= link_to article_path(article) do %>
              <span class="glyphicon glyphicon-eye-open"></span>
            <% end %>
            <% if !current_user.nil? %>
              <% if current_user.canEdit?(article) %>
                | <%= link_to edit_article_path(article) do %>
                  <span class="glyphicon glyphicon-edit"></span>
                <% end %> |
                <%= link_to article_path(article), method: :delete,
                    data: {confirm: 'Are you sure?'} do %>
                      <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              <% end %>
            <% end %>
          </p>
        <hr>
      <% end %>
    </div>
    <div class = "col-sm-3">
      <%= render 'layouts/publicidad_derecha' %>
    </div>
  </div>
</div>

  <%= render 'layouts/footer' %>


<style>
.centered{
    text-align:center;
  }
.jumbotron {
    background-color: #6495ed;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Lato, sans-serif;
}
.articles {
  font-family: Lato;
}
</style>
