<%= render 'layouts/header' %>
<%= render 'layouts/navbar' %>


<div class="jumbotron text-center ">
  <h2>Archive</h2>
</div>

<h1> </h1>


  <div class="container-fluid bg-grey">
    <div class="row">
      <div class = "col-sm-3">
      </div>

      <div class = "col-sm-6">
        <h4><small>RECENT POSTS</small></h4>
        <hr>
      <% @articles.each do |article| %>
        <h2> <strong> <%= article.title %></strong> </h2>
          <h4><%= article.text %></h5>
          <h6> <span class="glyphicon glyphicon-pencil"></span>
                Written by <%= article.author %> </h6>
          <td><%= link_to 'View', article_path(article) %></td>
          <td><%= link_to 'Edit', edit_article_path(article) %> </td>
          <td><%= link_to 'Remove', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <hr>
      <% end %>
      </table >
      </div>
      <div class = "col-sm-3">
      </div>
    </div>
  </div>

  <div class = "col-sm-3">
  </div>



<%= link_to 'New article', new_article_path %>

<style>
.centered{
    text-align:center;
  }
.jumbotron {
    background-color: #6495ed;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Montserrat, sans-serif;
}
</style>
