<%= render 'layouts/header' %>
<%= render 'layouts/navbar' %>

<div class="jumbotron text-center ">
  <h2><%= @article.title %></h2>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class = "col-sm-3 articles centered">
      <% if !current_user.nil? %>
      <p>  <%= link_to raw("<span class = \"glyphicon glyphicon-edit\"></span> Write new article "),
            new_article_path,
            class: "btn btn-lg btn-info btn-default" %> </br>
      <% end %> </p>
      <%= render 'layouts/publicidad_izquierda' %>
    </div>
    <div class = "col-sm-6 articles">
      <%= @article.text %>
    </br>
      <h6 class= "pull-right"> <span class="glyphicon glyphicon-user"></span>
            Written by <%= @article.author %> </h6>
          </br>
      <hr>
      <h5><strong> Comments: </strong></h5>
      <% if !@article.comments.nil? %>
      <p> Comentarios NO son NIL </p>
      <% end %>
      <%= react_component 'CommentsBox', {comments: @article.comments, article_id:  @article.id} %>
      <hr>

      <h5>Add a comment:</h5>
      <%= render 'comments/form' %>

      <%= link_to articles_path do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
      <% end %> |
      <%= link_to edit_article_path(@article) do %>
        <span class="glyphicon glyphicon-edit"></span>
      <% end %>
    </div>

    <div class = "col-sm-3">
      <%= render 'layouts/publicidad_derecha' %>
    </div>
  </div>
</div>


<style>
.centered{
    text-align:center;
  }
.jumbotron {
    background-color: #6495ed;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Lato;
}
.articles{
  font-family: Lato;
}
</style>
