<%= render 'layouts/header' %>
<%= render 'layouts/navbar' %>

<div class="jumbotron text-center ">
  <h2>Edit profile</h2>
</div>

<%= render 'error_form' %>

<div class="container-fluid bg-grey">
  <h2 class="text-center">Edit profile</h2> <hr>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <%= form_for current_user do |f| %>
          <div class="row">
            <div class="col-sm-6 form-group">
              <%= f.text_field :name, class: "form-control", placeholder: "Name", required: true %>
            </div>
            <div class="col-sm-6 form-group">
              <%= f.text_field :email, class: "form-control", placeholder:"Email address", required: true %>
            </div>
            <div class="col-sm-6 form-group">
              <%= f.password_field :password, class: "form-control", placeholder: "New password", required: true %>
            </div>
            <div class="col-sm-6 form-group">
              <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Password confirmation", required: true %>
            </div>
            <div class = "col-sm-4 col-sm-offset-4">
              <%= f.submit "Update profile", class: "btn btn-info btn-default btn-block" %>
            </div>
      <% end %>
          </div>
        </div>
        <div class="col-sm-3">
        </div>
  </div>
</div>

<%= render 'layouts/footer' %>

  <style>
  .centered{
      text-align:center;
    }
  .jumbotron {
      background-color: #6495ed;
      color: #ffffff;
      padding-top: 40px;
      padding-bottom: 5px;
      padding-left: 25px;
      padding-right: 25px;
      font-family: Lato, sans-serif;
  }
  </style>
