<style>
.navbar {
  margin-bottom: 0;
  background-color: #00bfff;
  z-index: 9999;
  border: 0;
  font-size: 15px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #00bfff !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-brand {
  font-size: 19px;
}
</style>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


        <a class="navbar-brand"
        <% if '/main/index' == request.env['PATH_INFO'] && current_user.nil? %>
          <%= link_to 'New? Sign up!', '/signup' %>
          <% else %>
            <% if !current_user.nil? %>
                    <% link = "Welcome, "+ current_user.name %>
                    <%= link_to link, '/' %>
                    <% else %>
                    <a class="navbar-brand" <%= link_to 'Home', '/main/index' %> </a>
            <% end %>
        <% end %>
        </a>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Articles', '/articles' %></li>
        <li><a href="/users">Team</a> </li>
        <li><% if !current_user.nil? %>
            <%= link_to 'Profile', user_path(current_user) %></li>
            <% end %> </li>
        <li> <% if current_user.nil? %>
                <%= link_to 'Log in', '/login' %>
                <% else %>
                <%= link_to 'Log out', '/logout' %>
              <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
